.banner {
    @include foto-model (100%, 950px, none, cover, center, url(../assets/img/fondo.png));
    display: grid;
    align-content: center;
    .banner-texto {
        @include title (30%, center, 50px, $tipografia-terciaria, normal, 65px);
        font-style: normal;
        display: grid;
        justify-self: end;
    }
}
.company {
    @extend %medidas;
    background-color: $color-principal;
    @include flex (row, space-evenly, center);
    padding-top: 30px;
    padding-bottom: 30px;
    .mision, .vision, .valores {
        img {
            @include medidas (300px, 300px);
            display: block;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .about1, .about2, .about3 {
            @include medidas (640px, 650px);
            h2 {
                @include title (unset, center, 20px, $tipografia-secundaria, normal, 42px);
            }
            p {
                @include title (unset, center, 50px, $tipografia-principal, normal, 36px);
                margin-bottom: 10px;
                line-height: 1.5;
            }
        }
    }
}
.destacados {
    @extend %medidas;
    background-color: $color-secundario;
    color: $color-principal;
    padding-bottom: 5px;
    h3 {
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 50px);
    }
    .curso1, .curso2 {
        @include medidas (100%, 500px);
        @include flex (row, center, center);
        column-gap: 20px;
        margin: 30px 0px;
        .foto1 {
            @include foto-model (500px, 500px, 35px 0px 35px 0px, 130%, bottom, url(../assets/img/coaching.jpg));
            order: 3;
        }
        .curso1-texto {
            @include medidas (70%, auto);
            @include flex (column, center, flex-end);
            h4 {
                @include title (unset, right, 10px, $tipografia-secundaria, bold, 40px);
            }
            a {
                text-decoration: none;
                color: $color-terciario;
            }
            p {
                @include title (unset, right, 10px, $tipografia-principal, normal, 38px);
                line-height: 2;
            }
        }
        .foto2 {
            @include foto-model (500px, 500px, 0px 35px 0px 35px, cover, center, url(../assets/img/manicuria-inicial.jpg));
        }        
        .curso2-texto {
            @include medidas (70%, auto);
            @include flex (column, center, flex-start);
            h4 {
                @include title (unset, left, 10px, $tipografia-secundaria, bold, 40px);
            }
            a {
                text-decoration: none;
                color: $color-terciario;
            }
            p {
                @include title (unset, left, 10px, $tipografia-principal, normal, 38px);
                line-height: 2;
            }
        }
        .btn-dest {
            display: none;
        }
    }
}
.reviews {
    @extend %medidas;
    background-color: $color-principal;
    h3 {
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 42px);
        color: #000000;
    }
    .reseñas {
        @include flex (row wrap, space-evenly, center);
        .opinion1, .opinion2, .opinion3, .opinion4 {
            @include flex (column, center, center);
            margin-top: 10px;
            margin-bottom: 15px;
            .op1 {
                @include foto-model (350px, 350px, 100%, cover, center, url(../assets/img/avatar1.jpg));
            }        
            .op2 {
                @include foto-model (350px, 350px, 100%, cover, center, url(../assets/img/avatar2.jpg));
            }        
            .op3 {
                @include foto-model (350px, 350px, 100%, cover, center, url(../assets/img/avatar3.jpg));
            }        
            .op4 {
                @include foto-model (350px, 350px, 100%, cover, center, url(../assets/img/avatar4.jpg));
            }
            .opinion1-texto, .opinion2-texto, .opinion3-texto, .opinion4-texto {
                @include medidas (480px, 590px);
                text-align: center;
                h4 {
                    @include title (unset, center, 10px 10px 5px 10px, $tipografia-secundaria, normal, 34px);
                    margin-top: 5px;
                }
                p {
                    @include title (unset, center, 5px 20px 10px 20px, $tipografia-principal, normal, 28px);
                    margin-bottom: 10px;
                    line-height: 2;
                }
            }
        }
    }
}
.material-mobile {
    display: none;
}
.contacto-index {
    @extend %medidas;
    background-color: $color-contacto;
    @include flex (column, center, center);
    padding-bottom: 10px;
    h3 {
        @include title (100%, center, 30px, $tipografia-secundaria, normal, 42px);
    }
    .caja-contacto {
        @extend %medidas;
        @include flex (column, center, center);
        margin-bottom: 20px;
        .row1, .row2, .row3, .row4 {
            @include flex (row, center, center);
            .name, .name-input, .lastname, .lastname-input, .mail, .email-input, .tel, .tel-input, .motivo, .options, .mensaje, .mensaje-input {
                @include flex (column, center, flex-start);
                margin-bottom: 5px;
            }        
            .name, .name-input, .mail, .email-input {
                margin-right: 5px;
            }        
            .email-input, .tel-input, .name-input, .lastname-input, .options {
                @include medidas (45vw, 50px);
                margin-bottom: 15px;
            }        
            .options, .mensaje-input {
                width: 90vw;
            }        
            .mensaje-input {
                margin-bottom: 0;
                resize: none;
            }        
            .options {
                padding: 7px;
            }      
            .name-input, .lastname-input, .email-input, .tel-input,.mensaje-input {
                padding: 5px;
            }        
            .name, .lastname, .mail, .tel, .motivo, .mensaje {
                font-family: $tipografia-principal;
                font-weight: normal;
            }        
            .name, .lastname, .mail, .tel, .motivo, .mensaje, .options, .name-input, .lastname-input, .email-input, .tel-input,.mensaje-input {
                font-size: 28px;
            }
        }        
        .btn-input {
            @extend %button;
        }
    }
}
.sobre-mi {
    @extend %medidas;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(3);
    grid-template-areas:
    "item1 item1"
    "item2 item4"
    "item3 item4"
    ;
    margin-bottom: 25px;
    .item1 {
        grid-area: item1;
        @include flex (row, center, center);
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 40px);
    }    
    .item2 {
        grid-area: item2;
    }    
    .item3 {
        grid-area: item3;
    }    
    .item2, .item3 {
        @include title (unset, justify, 20px 50px, $tipografia-principal, normal, 28px);
        line-height: 2;
    }
    .letter {
        font-size: 34px;
    }
    .item4 {
        @include foto-model (950px, unset, 200px 0px 200px 0px, cover, center, url(../assets/img/sobre-mi.jpg));
        grid-area: item4;
        display: grid;
        align-content: center;
        margin-right: 50px;
    }
}
.servicios {
    @extend %medidas;
    h2 {
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 40px);
    }
    p {
        @include title (100%, justify, 10px 50px 10px, $tipografia-principal, normal, 28px);
        height: auto;
        margin-top: 10px;
        line-height: 2;
    }
    .servicios-caja {
        @include flex (column, center, center);
        margin-bottom: 60px;
        h3 {
            @include title (100%, center, 50px, $tipografia-secundaria, bold, 36px);
        }
        .servicios-fotos {
            @extend %medidas;
            @include flex (row wrap, center, center);
            gap: 25px;
            figure {
                @include medidas (500px, 500px);
                position: relative;
                overflow: hidden;
                border-radius: 6px;
                box-shadow: 0px 15px 25px $box-shadow;
                cursor: pointer;
                img {
                    @include medidas (100%, 100%);
                    transition: all 500ms ease-out;
                }
                .capa, .capa2 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $color-terciario;
                    transition: all 500ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;
                }
                .capa2 {
                    background: $color-secundario;
                }
                &:hover > .capa, &:hover > .capa2 {
                    opacity: 1;
                    visibility: visible;
                }
                &:hover > .capa h3 {
                    margin-top: 10px;
                }
                &:hover > .capa2 h3 {
                    margin-top: 150px;
                }
                .capa h3, .capa2 h3 {
                    color: $color-secundario;
                    font-family: $tipografia-secundaria;
                    font-weight: bold;
                    transition: all 500ms ease-out;
                }
                .capa p {
                    @include title (100%, center, 0, $tipografia-principal, normal, 26px);
                    color: $color-secundario;
                    line-height: 2;
                    max-width: 450px;
                    margin: auto;
                    transition: all 500ms ease-out;
                    margin-top: 0;
                }
                .capa2 h3 {
                    color: $color-terciario;
                    padding: 50px;
                }
            }
        }
    }
}
.para-vos {
    @extend %medidas;
    @include flex (column, center, center);
    h2 {
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 40px);
    }
    p {
        @include title (100%, justify, 10px 50px 50px, $tipografia-principal, normal, 28px);
        height: auto;
        line-height: 2;
    }
    .videos {
        width: 80%;
        @include flex (row wrap, space-evenly, center);
        gap: 35px;
        margin-bottom: 50px;
        .video {
            @include medidas (500px, auto);
        }
    }
}
.galeria {
    @extend %medidas;
    @include flex (column, center, center);
    h2 {
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 40px);
    }
    .fotos-galeria {
        @extend %medidas;
        @include flex (row wrap, center, center);
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
        .img1 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria1.jpg));
        }
        .img2 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria2.jpg));
        }
        .img3 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria3.jpg));
        }
        .img4 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria4.jpg));
        }
        .img5 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria5.jpg));
        }
        .img6 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria6.jpg));
        }
        .img7 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria7.jpg));
        }
        .img8 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria8.jpg));
        }
        .img9 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria9.jpg));
        }
        .img10 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria10.jpg));
        }
        .img11 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria11.jpg));
        }
        .img12 {
            @include foto-model (700px, 900px, 0, cover, center, url(../assets/img/foto-galeria12.jpg));
        }
    }
}
.contacto {
    @extend %medidas;
    background-color: $color-contacto;
    @include flex (column, center, center);
    h2 {
        @include title (100%, center, 50px, $tipografia-secundaria, normal, 40px);
    }
    .fb-contacto, .ig-contacto, .icono-mail {
        @include medidas (50px, 50px);
    }
    .mail-contacto {
        @include flex (row, center, center);
        p {
            padding: 15px;
            font-size: 28px;
        }
    }
    .linea-contacto {
        background-color: $color-secundario;
        @include medidas (45vw, 3px);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        @include title (100%, justify, 50px 100px, $tipografia-principal, normal, 28px);
        height: auto;
        line-height: 2;
    }
    .caja-contacto2 {
        @extend %medidas;
        @include flex (column, center, center);
        margin-top: 30px;
        margin-bottom: 40px;
        .row1, .row2, .row3, .row4 {
            @include flex (row, center, center);
            .name, .name-input, .lastname, .lastname-input, .mail, .email-input, .tel, .tel-input, .motivo, .options, .mensaje, .mensaje-input {
                @include flex (column, center, flex-start);
                margin-bottom: 5px;
            }        
            .name, .name-input, .mail, .email-input {
                margin-right: 5px;
            }
            .email-input, .tel-input, .name-input, .lastname-input, .options {
                @include medidas (45vw, 50px);
                margin-bottom: 15px;
            }
            .options, .mensaje-input {
                width: 90vw;
            }
            .mensaje-input {
                margin-bottom: 0;
                resize: none;
            }
            .options {
                padding: 7px;
            }
            .name-input, .lastname-input, .email-input, .tel-input,.mensaje-input {
                padding: 5px;
            }
            .name, .lastname, .mail, .tel, .motivo, .mensaje {
                font-family: $tipografia-principal;
                font-weight: normal;
            }
            .name, .lastname, .mail, .tel, .motivo, .mensaje, .options, .name-input, .lastname-input, .email-input, .tel-input,.mensaje-input {
                font-size: 28px;
            }
        }
        .btn-input {
            @extend %button;
        }
    }
}