* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1.3fr 0.1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    }
}